             body {
                  background-color: rgb(252, 233, 171);
                  text-align: center;
                  margin: 0px;
            }



.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem 2rem;
  background: #333;
  color: white;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

              h1 {
               background-color: grey;
                position: relative;
              
              
              }

              p {
                background-color: grey;
                width: 60%;
                margin: 10% 20% 10% 20%;
                border: solid black 2px;
                padding: 30px;
            }

              ul {
                width: 60%;
                margin: 10% 20% 10% 20%;
                border: solid black 2px;
                padding: 30px;
            } 
            
              ol {
                width: 60%;
                margin: 10% 20% 10% 20%;
                border: solid black 2px;
                padding: 30px;
            }




            
              #contents-table {
                background-color: rgb(134, 245, 117);
            
                font-size: 22px;
                line-height: 1.5em;
                border: solid;
                border-radius: 22px;
            }


            
              #post01 {
                    background-color: rgb(180, 250, 170);
            
                font-size: 18px;
                line-height: 1.1em;
                border: solid;
                border-radius: 22px;
                margin-top: 30px;
                font-family: "Garamond", "Times New Roman", sans-serif;
                
            }
            
              #post02 {
                    background-color: rgb(180, 250, 170);
            
                font-size: 18px;
                line-height: 1.1em;
                border: solid;
                border-radius: 22px;
                margin-top: 30px;
                font-family: "Garamond", "Times New Roman", sans-serif;
                
            }
            
              li {
                text-align: left;
                line-height: 2em;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
            }

              li a:hover {
                background-color: rgb(25, 250, 99);
            }
            
